<ng-ais-instantsearch
  [config]="{
        appId: '78NYJ53UIA',
        apiKey: '073c4cc9a3b932400599c3a664a6e340',
        indexName: 'books',
        urlSync: true
      }"
>
  <div class="container">
    <button type="button" class="btn btn-outline-info relative waves-light" *ngIf="authService.isAuthenticated()"
            (click)="basicModal.show()" mdbWavesEffect><i class="fa fa-plus"></i> Add New Book
    </button>

    <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
      <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Add a New Book</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="addBookForm" (ngSubmit)="basicModal.hide(); onSubmitAddBook()">
              <div class="form-group">
                <label for="title">Book Title</label>
                <input type="text" id="title"
                       class="form-control"
                       formControlName="title"
                       [ngClass]="{'error': isInvalid('title')}"
                       [(ngModel)]="newBook.title"
                >
                <div *ngIf="addBookForm.controls['title'].touched && !addBookForm.controls['title'].valid">
                <span *ngIf="addBookForm.controls['title'].hasError('required') ">
                    Book title is required
                </span>
                </div>
              </div>
              <div class="form-group">
                <label for="isbn">Book ISBN Number</label>
                <input type="text" id="isbn"
                       class="form-control"
                       formControlName="isbn"
                       [ngClass]="{'error': isInvalid('isbn')}"
                       [(ngModel)]="newBook.isbn"
                >
                <div *ngIf="addBookForm.controls['isbn'].touched && !addBookForm.controls['isbn'].valid">
                  <span *ngIf="addBookForm.controls['isbn'].hasError('required') ">
                      ISBN number is required
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="pageCount">Page Count</label>
                <input type="number" id="pageCount"
                       class="form-control"
                       formControlName="pageCount"
                       [(ngModel)]="newBook.pageCount"
                >
              </div>
              <div class="form-group">
                <label for="publishedDate">Published Date</label>
                <input type="date" id="publishedDate"
                       class="form-control"
                       formControlName="publishedDate"
                       [ngClass]="{'error': isInvalid('publishedDate')}"
                       [(ngModel)]="newBook.publishedDate"
                >
                <div
                  *ngIf="addBookForm.controls['publishedDate'].touched && !addBookForm.controls['publishedDate'].valid">
                  <span *ngIf="addBookForm.controls['publishedDate'].hasError('required') ">
                      Published date is required
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="thumbnailUrl">Image URL</label>
                <input type="text" id="thumbnailUrl"
                       class="form-control"
                       formControlName="thumbnailUrl"
                       [(ngModel)]="newBook.thumbnailUrl"
                >
              </div>
              <div class="form-group">
                <label for="shortDescription">Short Description</label>
                <textarea type="text" id="shortDescription"
                          class="form-control"
                          formControlName="shortDescription"
                          [ngClass]="{'error': isInvalid('shortDescription')}"
                          [(ngModel)]="newBook.shortDescription"
                ></textarea>
                <div
                  *ngIf="addBookForm.controls['shortDescription'].touched && !addBookForm.controls['shortDescription'].valid">
                  <span *ngIf="addBookForm.controls['shortDescription'].hasError('required') ">
                      A short description is required
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="longDescription">Long Description</label>
                <textarea type="text" id="longDescription"
                          class="form-control"
                          formControlName="longDescription"
                          [(ngModel)]="newBook.longDescription"
                          [ngClass]="{'error': isInvalid('longDescription')}"
                ></textarea>
                <div
                  *ngIf="addBookForm.controls['longDescription'].touched && !addBookForm.controls['longDescription'].valid">
                  <span *ngIf="addBookForm.controls['longDescription'].hasError('required') ">
                      A long description is required
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="status">Book Status</label>
                <input type="text" id="status"
                       class="form-control"
                       formControlName="status"
                       [(ngModel)]="newBook.status"
                       [ngClass]="{'error': isInvalid('status')}"
                >
                <div *ngIf="addBookForm.controls['status'].touched && !addBookForm.controls['status'].valid">
                  <span *ngIf="addBookForm.controls['status'].hasError('required') ">
                      Book Status is required
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="authors">Authors (Multiple separated by ';')</label>
                <input type="text" id="authors"
                       class="form-control"
                       formControlName="authors"
                       [(ngModel)]="newBook.authors"
                       [ngClass]="{'error': isInvalid('authors')}"
                >
                <div *ngIf="addBookForm.controls['authors'].touched && !addBookForm.controls['authors'].valid">
                  <span *ngIf="addBookForm.controls['authors'].hasError('required') ">
                      Author details required
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="categories">Book Categories (Multiple separated by ';')</label>
                <input type="text" id="categories"
                       class="form-control"
                       formControlName="categories"
                       [(ngModel)]="newBook.categories"
                >
              </div>
              <span *ngIf="isIncomplete()">You must complete all fields</span>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light" aria-label="Close"
                        (click)="basicModal.hide()"
                        mdbWavesEffect>Close
                </button>
                <button type="submit" *ngIf="!isIncomplete()" class="btn btn-primary relative waves-light"
                        mdbWavesEffect>
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron p-5 text-center text-md-left author-box">
      <!-- Name -->
      <div class="row">
        <div class="col-12">
          <ng-ais-search-box class="text-center" placeholder="Search For A Programming Book"></ng-ais-search-box>
        </div>
      </div>
      <p>
        <b>
          <ng-ais-stats></ng-ais-stats>
        </b>
        <ng-ais-current-refinements [clearsQuery]="true">
        </ng-ais-current-refinements>
        <br>
        <ng-ais-hits-per-page
          [items]="[
          {value: 12, default: true},
          { value: 10, label: '10 books per page' },
          { value: 25, label: '25 books per page' },
          { value: 50, label: '50 books per page' },
          { value: 100, label: '100 books per page' }
        ]"
        >
        </ng-ais-hits-per-page>
      </p>
      <!-- <hr> -->
      <div class="row">
        <div class="col-4">
          <ng-ais-panel header="Show results for title">
            <ng-ais-hierarchical-menu [attributes]="['title']" [sortBy]="['title:asc']">
              >
            </ng-ais-hierarchical-menu>
          </ng-ais-panel>
        </div>
        <div class="col-4">
          <ng-ais-panel header="Show results for author">
            <ng-ais-hierarchical-menu [attributes]="['authors']" [sortBy]="['authors:asc']">
              >
            </ng-ais-hierarchical-menu>
          </ng-ais-panel>
        </div>
        <div class="col-4">
          <ng-ais-panel header="Categories">
            <ng-ais-refinement-list attribute="categories" operator="or" limit="10">
            </ng-ais-refinement-list>
          </ng-ais-panel>
        </div>
        <!--<div class="col-4">-->
        <!--<ng-ais-panel header="Sort by">-->
        <!--<ng-ais-sort-by-->
        <!--[items]="-->
        <!--[-->
        <!--{name: 'page_count_asc', label: 'Featured'}-->
        <!--] ">-->
        <!--</ng-ais-sort-by>-->
        <!--</ng-ais-panel>-->
        <!--<hr />-->
        <!--<app-ng-ais-menu-select></app-ng-ais-menu-select>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <ng-ais-hits>
    <ng-template
      let-hits="hits"
      let-results="results"
      let-state="state">

      <div class="container">
        <div class="row">
          <p
            class="info"
            *ngIf="hits.length === 0"
          >
            No results were found for the query: {{results.query}}.
            Try to remove some filters or change the search query.
          </p>


          <div class="card-deck">
            <div class="col-lg-3 col-xs-12 col-md-6 mb-4" *ngFor="let hit of hits">
              <!--Card-->
              <div class="card mb-4 h-100">
                <!--Card image-->
                <div class="view overlay">
                  <img class="img-fluid w-100 d-block" src="{{ hit.thumbnailUrl }}"
                       onerror="this.src='https://inc.mizanstore.com/aassets/img/com_cart/produk/no_cover.jpg'"
                       alt="Card image cap">
                  <a [routerLink]="['/books', hit.objectID ]">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">
                    <ng-ais-highlight attribute="title" [hit]="hit">
                    </ng-ais-highlight>
                  </h4>


                  <!--Text-->
                  <div class="card-text">
                    <ul class="list-unstyled">
                      <li *ngIf="hit.isbn"><b>ISBN:</b><ng-ais-highlight attribute="isbn" [hit]="hit">
                      </ng-ais-highlight></li>
                      <li *ngIf="hit.status"><b>Status:</b> <ng-ais-highlight attribute="status" [hit]="hit">
                      </ng-ais-highlight></li>
                      <li *ngIf="hit.authors"><b>Authors:</b> <ng-ais-highlight attribute="authors" [hit]="hit">
                      </ng-ais-highlight></li>
                      <li *ngIf="hit.categories"><b>Categories:</b> <ng-ais-highlight attribute="categories" [hit]="hit">
                      </ng-ais-highlight></li>
                      <li *ngIf="hit.pageCount"><b>Pages:</b> <ng-ais-highlight attribute="pageCount" [hit]="hit">
                      </ng-ais-highlight></li>
                      <li *ngIf="hit.publishedDate"><b>Published Date:</b> {{hit.publishedDate.date | date:'dd MMM yyyy'}}</li>
                    </ul>
                  </div>

                  <!--<p class="card-text" *ngIf="{{hit.status}}">Status: {{ hit.status }} Authors: {{ hit.authors }}</p>-->
                </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <div class="card-footer text-center">

                  <button type="button" class="btn btn-light-blue btn-md" [routerLink]="['/books', hit.objectID ]">Read
                    more
                  </button>

                </div>

                <!--Card content-->

              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-ais-pagination [totalPages]="hits.length">
      </ng-ais-pagination>

    </ng-template>
  </ng-ais-hits>
</ng-ais-instantsearch>
